@import 'codemirror/lib/codemirror';

.file {
  flex: 1;
  margin: 0.5rem;
  width: 55rem;
  border: solid 1px var(--textSubColor);
}

.CodeMirror {
  height: 100%;
}

.CodeMirror-linenumbers {
  border-right: 1px solid #ddd;
}

.file .CodeMirror-linenumber {
  padding: 0 0.4rem;
  color: #999;
}

.gutter-line-count {
  @extend .CodeMirror-linenumber;
}

.gutter-line-count-elt--covered {
  @extend .CodeMirror-linenumber;
  color: #555;
  border-right: solid 1px rgba(46, 204, 113, 1);
  background-color: rgba(46, 204, 113, 0.3);
}

.gutter-line-count-elt--not-covered {
  @extend .CodeMirror-linenumber;
  color: #555;
  border-right: solid 1px rgba(231, 76, 60, 1);
  background-color: rgba(231, 76, 60, 0.3);
}

/* -------------------- */

.branch-not-taken {
  position: relative;
  background: rgba(241, 196, 15, 0.5);
}

.branch-not-taken:hover:before {
  content: 'Branch was not taken';
  position: absolute;
  left: 0;
  top: -1.8rem;
  padding: 0.2rem 1rem;
  background: rgba(241, 196, 15, 0.9);
  color: black;
  border-radius: 0.7rem 0.7rem 0.7rem 0;
}

.branch-not-taken:hover:after {
  content: '';
  position: absolute;
  top: -0.7rem;
  left: 0;
  width: 0;
  height: 0;
  border: solid 0.4rem transparent;
  border-left-color: rgba(241, 196, 15, 1.0);
}

/* -------------------- */

.else-branch-not-taken {
  position: relative;
  display: inline-block;
  margin-left: 3px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background: rgba(241, 196, 15, 0.9);
}

.else-branch-not-taken:hover:before {
  content: 'Else branch was not taken';
  position: absolute;
  left: 0;
  top: -1.8rem;
  padding: 0.2rem 1rem;
  background: rgba(241, 196, 15, 0.9);
  color: black;
  border-radius: 0.7rem 0.7rem 0.7rem 0;
}

.else-branch-not-taken:hover:after {
  content: '';
  position: absolute;
  top: -0.7rem;
  left: 0;
  width: 0;
  height: 0;
  border: solid 0.4rem transparent;
  border-left-color: rgba(241, 196, 15, 1.0);
}

/* -------------------- */

.line-not-covered {
  background-color: rgba(231, 76, 60, 0.1);
}
