@import "../filelist-header/filelist-header";
@import "../filelist-item/filelist-item";

.filelist {
  margin: 0.5rem;
  width: 55rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: solid 1px #999;
}
