.filelist-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;
  flex: 0 0 1.4rem;
  line-height: 1rem;
  color: var(--textSubColor);
  text-decoration: none;
  background-color: rgba(189, 195, 199, 0.3);
}

.filelist-header__name {
  font-size: 0.8rem;
  line-height: 1.4rem;
  padding: 0 0.5rem;
  flex: 1;
}

.filelist-header__metric {
  flex: 0 0 9rem;
  padding: 0 0.5rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
  border-left: solid 1px var(--textSubColor);
}
